.button-color {
    border: none;
    width: 150px;
    
}


@media (max-width: 768px) {
    .navbar-bg {
        height: 100px;
    }
}


@media (max-width: 768px) {
    .button-color {
        width: 120px;
       
    }
  
}

.text-gray {
    color: #42445e;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Ajusta el color según tu diseño */
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  .absolute-image {
    position: absolute;
    right: 400px;
    top: 1000px;
    bottom: 0;
    width: 400px; /* Asegúrate de mantener el tamaño de la imagen */
  }